@{
    ViewBag.Title = "Print Ordner List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN PAGE HEADER -->
<div class="page-head">
    <div class="page-title">
        <h1>
            Print Ordner List
        </h1>
    </div>
</div>
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light">
    <div class="portlet-body">
        @Html.Partial("_PrintOrdnerList")
    </div>
</div>

<script type="text/javascript">
</script>
