@using eFakturADM.Logic.Collections
@using eFakturADM.Logic.Objects
@using eFakturADM.Logic.Utilities
@using eFakturADM.Web.Helpers
@using eFakturADM.Web.Models

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Home</h1>
    </div>
</div>

<div class="row">
    <div style="width:100%; display:table; margin:0 auto; text-align:center; font-size:30pt; background:#fff; height:500px;padding-top:150px;">
        Welcome to Application eFaktur VAT IN System ADM<br /><span style="font-size: 20pt">Version : Live V.1.16 - 23 April 2018</span>
    </div>
</div>





