
<!DOCTYPE html>
<html>
<body>
    <div>
        <label id="email-to">Dear @Model.To,</label>
        <br />
        <label id="email-Description">
            Your password has bee reset. Your new password is :<br />
            <b>@Model.GeneratedPassword</b><br/><br />
            Please change generated password via "Change Password" Menu.<br />
            Contact Administrator for further information.
        </label>
        <br />
        <br />
        <br />
        <label id="email-footer">
            Thank You
            <br />
            <br />
            Best Regards,
        </label>
        <br />
        <label id="email-from">@Model.From</label>
    </div>
</body>
</html>
