@using eFakturADM.Logic.Collections
@using eFakturADM.Logic.Objects
@using eFakturADM.Logic.Utilities
@using eFakturADM.Web.Helpers
@using eFakturADM.Web.Models


@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light">
    <div class="portlet">
        <div class="portlet-body">
            
        </div>
    </div>
</div>
<script>
   
</script>
